<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <span>Bookers</span>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <% if authenticated? %>
            <li class="nav-item">
              <%= link_to user_path(current_user), class: "nav-link text-light" do %>
                <i class="fa-solid fa-house"></i> Home
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to users_path, class: "nav-link text-light" do %>
                <i class="fa-solid fa-users"></i> Users
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to books_path, class: "nav-link text-light" do %>
                <i class="fa-solid fa-book-open"></i> Books
              <% end %>
            </li>

            <li class="nav-item">
               <%= link_to session_path, data: { turbo_method: :delete }, class: "nav-link text-light" do %>
               <i class="fa-solid fa-right-from-bracket"></i>
               Log out
            <% end %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to root_path, class: "nav-link text-light" do %>
                <i class="fa-solid fa-house"></i> Home
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to about_path, class: "nav-link text-light" do %>
                <i class="fa-solid fa-link"></i> About
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_user_path, class: "nav-link text-light" do %>
                <i class="fa-solid fa-user-plus"></i> Sign up
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_session_path, class: "nav-link text-light" do %>
                <i class="fa-solid fa-right-to-bracket"></i> Log in
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>